@model MVCInvTI.Models.CadCli

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Deletar Registro</h1>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idMaq)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idMaq)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idSoft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idSoft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
    </dl>
    
    <form asp-action="Deletar">
        <input type="hidden" asp-for="idCli" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
